body {
  background-color: rgb(248,248,255);
}

h2 {
  color: brown;
}

p, ol, ul{
	margin-top: 0;
}

p {
	line-height: 180%;
}

ol, ul{
	padding: 0;
	list-style: none;
}

header{
	overflow: hidden;
	margin: 0 auto;
	width: 1800px;
}

#str_header{
	text-align: center;
	height: 60px;
}

#str_menu{
	float: right;
	width: 23%;
	height: 100%;
	margin: none;
	top: 0;
  border-bottom:#000 medium solid !important;
}


#str_menu ul{
	text-align: center;
	float: right;
	margin: none;
}

#str_menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#str_menu li a{
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
	line-height: 40px;
}

#str_menu li a{

	color: rgb(128,0,128);
}

#str_menu li:hover a{
	background: rgb(250,235,215);
	color: #0074D9;
	text-decoration: none;
}

.question_section {
 background: white;
 margin-top: 10px;
 margin-left: 300px;
 border: solid black 1px;
 border-radius: 2px;
 width: 57%;
 padding-left: 50px;
 padding-top: 10px;
 padding-bottom: 60px;
}

.thread {
  background: white;
  margin-top: 20px;
  margin-left: 300px;
  border: solid black 1px;
  border-radius: 2px;
  width: 57%;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
}
