html {
height:99%;
width:99%;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: rgb(255,255,240);
}

h1, h2, h3{
	margin: 0;
	padding: 0;
}

p, ol, ul{
	margin-top: 0;
}

p {
	line-height: 180%;
}

ol, ul{
	padding: 0;
	list-style: none;
}

header{
	overflow: hidden;
	margin: 0 auto;
	width: 1500px;
}

#forum_header{
	text-align: center;
	height: 60px;
}

#forum_menu{
	float: right;
	width: 29%;
	height: 100%;
	margin: none;
	top: 0;
  border-bottom:#000 medium solid !important;
}


#forum_menu ul{
	text-align: center;
	float: right;
	margin: none;
}

#forum_menu li{
	display: inline-block;
	padding: none;
	margin: none;
}

#forum_menu li a{
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
	line-height: 40px;
}

#forum_menu li a{

	color: rgb(128,0,128);
}

#forum_menu li:hover a{
	background: rgb(250,235,215);
	color: #0074D9;
	text-decoration: none;
}

.question_form {
  top: 80px;
  position: relative;
  background: white;
  margin-top: 10px;
  margin-left: 300px;
  border: solid black 1px;
  border-radius: 2px;
  width: 57%;
  padding-left: 50px;
  padding-top: 10px;
  //padding-right: 30px;
  padding-bottom: 20px;
}

#ask_bttn {
width:94%;

font-size: 25px;
font-weight: 400;

}

.question_section {
	top: 80px;
 background: white;
 position : relative;
 margin-top: 10px;
 position: relative;
 margin-left: 300px;
 border: solid black 1px;
 border-radius: 2px;
 width: 57%;
 padding-left: 50px;
 padding-top: 10px;
 padding-bottom: 60px;
}

.thread {
	top: 80px;
  background: white;
	position : relative;
  margin-top: 20px;
  margin-left: 300px;
  border: solid black 1px;
  border-radius: 2px;
  width: 57%;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 60px;
}
